AutoRestart             Yes
AutoRestartRate         10/1h
UMask                   002
Syslog                  yes
SyslogSuccess           Yes
LogWhy                  Yes

Canonicalization        relaxed/simple

InternalHosts           csl:127.0.0.1/24,localhost
Domain                  csl:{{ mailfruit_mail_domain }}
KeyFile                 /etc/opendkim/keys/mail.private
Selector                mail

Mode                    sv
PidFile                 /var/run/opendkim/opendkim.pid
SignatureAlgorithm      rsa-sha256

UserID                  opendkim:opendkim

Socket                  inet:12301@localhost
